html,
body {
  width: 100%;
  height: 100%;
  top: 0px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

header {
  position: relative;
  min-height: 20%;
  background-image: url("./../images/beachBackground.jpg");
  border-bottom: 2px solid #333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
header div {
  font-size: 30px;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar a {
  float: left;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
#links a {
  padding: 15px 14px;
}
#logo {
  float: right;
  color: aqua;
  font-size: 18px;
  padding: 15px 14px;
}
.navbar a.icon {
  float: right;
  padding: 8px 10px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#map {
  width: 100%;
  height: calc(80% - 2px);
  z-index: 0;
}
#search {
  position: absolute;
  z-index: 1;
  top: 21%;
  left: 10px;
  width: 200px;
  height: 140px;
  padding: 30px 30px 45px;
  background-color: #e9f1f8;
  text-align: left;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}
#search label {
  font: normal 16px Arial;

  color: #05458a;
}
#search select {
  font: normal 16px Arial;
  width: 100%;
}

.trav-label {
  padding: 7px 0;
}

.frm-txt {
  padding: 3px 5px;
  background-color: #fe5d65;
  color: white;
  border-radius: 3px;
}

.to-txt {
  padding: 3px 16px;
  background-color: #fe5d65;
  color: white;
  border-radius: 3px;
}

#favourites {
  display: none;
  position: absolute;
  z-index: 1;
  top: calc(21% + 230px);
  left: 10px;
  width: 201px;
  max-height: calc(76% - 230px);
  padding: 10px 30px;
  background-color: #e9f1f8;
  text-align: left;
  overflow: scroll;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}
#result {
  display: none;
  position: absolute;
  z-index: 2;
  top: 21%;
  right: 10px;
  width: 500px;
  height: 77%;
  padding: 5px;

  background-color: white;
  text-align: left;
  overflow: scroll;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
  max-width: 93%;
}
#fav {
  cursor: pointer;
}
.favs {
  font: normal 16px Arial;
  cursor: pointer;
}
.prompt {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  height: 90px;
  padding: 5px;
  background-color: #e9f1f8;
  text-align: center;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}
.confirm {
  font: normal 16px arial;
}
.btn {
  cursor: pointer;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  background-color: #66b2ff;

  color: white;
  font: normal 18px arial;
  width: 100%;
}
.bin {
  float: right;
  margin-right: 5px;
  cursor: pointer;
  height: 16px;
}

/* Result Section */
.result-body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #e9f1f8;

  border-radius: 10px;
  padding: 10px;
  margin: 4px 8px;
}

h2 {
  margin-left: 12px;
  color: #041f41;
  font-family: "Poppins", sans-serif;
  display: inline-flex;
  font-weight: 600;
}
.bindPopupHeader {
  margin-left: 0px;
  color: #041f41;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.country-flag {
  margin-top: 7px;
  margin-left: 4px;
  position: absolute;
}

#addfav {
  position: absolute;
  margin-left: 460px;
  margin-right: 3px;
}
.far {
  cursor: pointer;
  font-size: 17px;
  color: #7f7f7f;
}
.far:hover {
  cursor: pointer;
  font-size: 17px;
  color: #66b2ff;
}

#closeButton {
  position: absolute;
  margin-left: 485px;
}
.fas {
  cursor: pointer;
  font-size: 17px;
  color: #7f7f7f;
}
.fas:hover {
  cursor: pointer;
  font-size: 17px;
  color: black;
}

.result-quartne-sec {
  background-color: #fe9b71;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  margin: 9px 8px;
}

.result-cEntry {
  background-color: #94dbd4;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  margin: 9px 8px 12px;
}

#legend {
  border-radius: 2px;
  padding: 2px;
  position: absolute;
  z-index: 10;
  bottom: 2px;
  left: 50%;
  margin-left: -100px;
  box-shadow: 5px 5px 5px 5px gray;
}
#stringInfo {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  font-size: 12px;
  width: 400px;
  height: 100px;
  bottom: 40px;
  left: 50%;
  margin-left: -200px;
  box-shadow: 5px 5px 5px 5px gray;
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.highlight {
  background-color: #f1e869;
}
.countryFlag {
  position: absolute;
  top: 20px;
  right: 18px;
  width: 40px;
  box-shadow: 2px 2px 2px 2px gray;
}
.travelInfo {
  color: #d63434;
  font: bold 12px Arial;
  cursor: pointer;
  text-decoration: underline;
}
#indexInfo {
  margin-right: 5px;
}
@media screen and (max-width: 992px) {
  .navbar a {
    float: none;
    text-align: center;
  }
  #links a {
    padding: 15px 14px;
  }
  #logo {
    font-size: 22px;
    float: none;
    text-align: center;
  }
  header div {
    display: none;
  }

  #search {
    opacity: 0.8;
    max-width: 50%;
    padding: 30px 10px 45px;
  }
  #favourites {
    padding: 10px 10px;
    opacity: 0.8;
  }
}
