html,
body {
  width: 100%;
  height: 100%;
  top: 0px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

header {
  position: relative;
  min-height: 300px;
  background-image: url("./../images/beachBackground.jpg");
  border-bottom: 2px solid #333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
header div {
  font-size: 30px;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar a {
  float: left;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
#links a {
  padding: 15px 14px;
}
.navbar #links {
  display: none;
}
.navbar a.icon {
  float: right;
  padding: 8px 10px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 0;
}
#search {
  position: absolute;
  z-index: 1;
  top: 310px;
  left: 10px;
  width: 200px;
  height: 140px;
  padding: 5px;
  background-color: white;
  text-align: left;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}
#search label {
  font: normal 16px Arial;
  color: rgb(0, 102, 255);
}
#search select {
  font: normal 16px Arial;
  width: 100%;
}
#favourites {
  display: none;
  position: absolute;
  z-index: 1;
  top: 470px;
  left: 10px;
  width: 200px;
  max-height: calc(100% - 190px);
  padding: 5px;
  background-color: white;
  text-align: left;
  overflow: scroll;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}
#result {
  display: none;
  position: absolute;
  z-index: 1;
  top: 310px;
  right: 10px;
  width: 500px;
  height: calc(100% - 30px);
  padding: 5px;
  background-color: white;
  text-align: left;
  overflow: scroll;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}
#fav {
  cursor: pointer;
}
.favs {
  font: normal 16px Arial;
  cursor: pointer;
}
.prompt {
  display: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  height: 90px;
  padding: 5px;
  background-color: white;
  text-align: center;
  border: normal 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
}
.confirm {
  font: normal 16px arial;
}
.btn {
  cursor: pointer;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  background-color: #66b2ff;
  color: white;
  font: normal 18px arial;
  width: 100%;
}
.bin {
  margin-left: 20px;
  cursor: pointer;
  height: 20px;
}
